.sidebar {
  padding-top: 4px;
  background-color: rgb(0, 0, 0);
  width: 350px;
  height: 100vh;
}

.sidebar * {
  width: 93%;
}

.searchbar-container {
  background-color: rgb(32, 35, 40);
  border-radius: 28px;
  display: flex;
  align-items: center;
  padding: 8px 20px; /* This is why its required to have width of 93% */
  height: 30px;
}

.search-icon {
  width: 20px;
  margin-right: 8px;
}

.searchbar {
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  font-size: 16px;
  flex-grow: 1;
  padding: 0;
  outline: none;
  padding-left: 10px;
}

.searchbar::placeholder { 
  color: rgb(102, 106, 109); 
  font-family: var(--twitter-font);
}